:root{
    --color-primario:#9AA3D9;
    --color-input:#B57114;
    --color-secundario:#08403E;
    --bg:#D9A3A3;
    --text-size:1.5rem;
    --color-fuente:#520120;
}
body{
    font-family: "Sour Gummy", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg);
    height: 100vh;
    color: var(--color-fuente);
    display: flex;
    justify-content: center;
}
.contenedor{
    max-width: 80%;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--color-primario);
    border-radius: 25px;
}
.encabezado{
    padding: 10px 0 5px 0;
}
.agregar{
    background-color: var(--color-input);
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 40px;
}
.agregar input{
    width: 80%;
    height: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--color-primario);
    padding-left: 10px;
}
#input::placeholder{
    font-size: 1.1rem;
    color: var(--color-fuente);
}
.agregar i{
    font-size: 45px;
    color: var(--color-secundario);
    padding-right: 20px;
}
.agregar i:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/*Sección tareas */
#lista h2{
    margin-bottom: 20px;
}
#lista {
    font-size: 25px;
}
#lista li{
    background-color: var(--color-secundario);
    border-radius: 15px;
    padding: 10px;
    color: var(--color-input);
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#lista i:hover{
    color: var(--color-primario);
}
.tachado{
    text-decoration: line-through;
    color: var(--color-primario);
}